/*.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width:100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
}*/

.modal-content {
    background-color: #661010;
    margin: 15% auto; /* 15% à partir du haut et centrer */
    padding: 20px;
    border: 1px solid #320c0c;
    width: 80%; /* Peut être ajusté pour s'adapter à votre mise en page */
}

.close {
    color: #aaa;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}