/* TERMINAL LOGS */

.bottom-pane {
    width: 100%;
    height: 40%;
    min-height: 12%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    resize: vertical;
    overflow-y: auto;
}

.tabbed-pane {
    display: flex;
    background-color: #E65486;
    padding: 5px;
}

.tabbed-pane.dark {
    display: flex;
    background-color: #a81c39;
    padding: 5px;
}

.tab {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border-bottom: none;
    background-color: #E65486;
}
.tab.dark {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border-bottom: none;
    background-color: #a81c39;
}
.tab-active {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 20%;
    border-bottom: none;
    background-color: #E65486;
}
.tab-active.dark {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 20%;
    border-bottom: none;
    background-color: #a81c39;
}

.tab:hover {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 5px;
    background-color: #FF6392;
    height: 100%; /* Adjust for tab height and borders */
    overflow-y: auto;
}

.tab-content.dark {
    display: none;
    padding: 5px;
    background-color: #ad2944;
    height: 100%; /* Adjust for tab height and borders */
    overflow-y: auto;
}

.tab-content.active {
    display: block;
}

.tab-content.active.dark {
    display: block;
}

.terminal {
    background-color: #E65486;
    color: white;
    padding: 10px;
    font-family: monospace;
    height:100%;
    max-height: 100%;
    min-height: 30%;
    overflow-y: auto; 
}


.terminal.black {
    background-color: #a81c39;
    color: white;
    padding: 10px;
    font-family: monospace;
    height:100%;
    max-height: 100%;
    min-height: 30%;
    overflow-y: auto; 
}

.terminal-output {
    max-height: 90%;
    height:90%;
    overflow-y: auto;
}

.terminal-output.black {
    max-height: 90%;
    height:90%;
    overflow-y: auto;
}

.terminal-path {
    color: #E5CD52;
    margin-right: 5px;
}

.terminal-input {
    display: flex;
    align-items: center;
    height: 10%;
}

.terminal-input input {
    background: #E65486;
    border: none;
    color: white;
    flex-grow: 1;
    font-family: monospace;
    outline: none;
}

.terminal-input.black input {
    background: #a81c39;
    border: none;
    color: white;
    flex-grow: 1;
    font-family: monospace;
    outline: none;
}

.terminal-input input::placeholder {
    color: white;
}

::selection {
    background-color: #5AA9e6;
    color: #E5CD52; /* Optional: Change text color on selection */
}